:root,
html,
body {
  --newtab-primary-action-background: #{get-var("accent-color")} !important;

  --brand-color-accent: #{get-var("accent-color")} !important;
  --brand-color-accent-hover: #{get-var("accent-color-hover")} !important;

  // primary button colors
  --in-content-primary-button-text-color: #{get-var("text-on-accent")} !important;
  --in-content-primary-button-background: #{get-var("accent-color")} !important;
  --in-content-primary-button-background-hover: #{get-var("accent-color-hover")} !important;
  --in-content-primary-button-background-active: #{get-var("accent-color")} !important;
}

:root,
html,
body {
  // bg color
  // --in-content-page-background: #{get-var("input-background-color")} !important;
  // --in-content-box-info-background: #{get-var("background-color-50")} !important;
  // --in-content-box-background: #{get-var("background-color-50")} !important;
  // border
  --in-content-border-color: #{get-var("menu-border-color")} !important;
  // primary text color
  --in-content-text-color: #{get-var("text-primary")} !important;
  --in-content-page-color: #{get-var("text-primary")} !important;

  // accent color
  --in-content-link-color: #{get-var("accent-color")} !important;
  --in-content-link-color-hover: #{get-var("accent-color")} !important;
  --in-content-accent-color: #{get-var("accent-color")} !important;
  --in-content-primary-button-background: #{get-var("accent-color")} !important;
  --in-content-primary-button-background-hover: #{get-var("accent-color")} !important;
  --in-content-primary-button-background-active: #{get-var("accent-color")} !important;
  --in-content-focus-outline-color: #{get-var("accent-color")} !important;
  --focus-outline-color: #{get-var("accent-color")} !important;

  --link-color: #{get-var("accent-color")} !important;
  --link-color-hover: #{get-var("accent-color")} !important;
  --link-color-active: #{get-var("accent-color")} !important;
  --link-color-visited: #{get-var("accent-color")} !important;
}
.toggle-button {
  --toggle-background-color-pressed: #{get-var("accent-color")} !important;
  --toggle-background-color-pressed-hover: #{get-var("accent-color")} !important;
  --toggle-background-color-pressed-active: #{get-var("accent-color")} !important;
}
