// bookmark popup
#editBookmarkPanel {
  input,
  tree,
  richlistbox,
  menulist,
  .expander-down,
  .expander-up {
    border: 1px solid;
    border-color: get-var("menu-border-color") !important;
    background-color: get-var("bgcolor-0") !important;
    border-radius: 4px !important;

    @media (prefers-color-scheme: light) {
      background-color: get-var("bgcolor-100") !important;
    }

    &:focus {
      outline: 2px solid !important;
      outline-offset: -2px;
      outline-color: get-var("accent-color") !important;
    }
  }
}

:root {
  background-color: get-var("bgcolor-50") !important;
  color: get-var("text-primary") !important;
}