// For change findbar position
#browser {
  position: relative !important;
}

// Change position
.browserContainer > findbar {

  // Change items position
  -moz-box-align: center !important;
  justify-content: flex-end !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;

    height: 48px !important;
  width: auto !important;
  max-width: 380px !important;
  min-width: 255px !important;

  padding: 0 !important;
  margin-inline-start: 0 !important;
  margin: -4px 10rem 0 0 !important;

  // Colors & decorations
  --separator-color: rgba(255, 255, 255, 0.1) !important;
  background-color: var(--toolbar-field-background-color) !important;
  box-shadow: var(--windows-panel-box-shadow) !important;
  color: var(--arrowpanel-color) !important;

  // Border
  border-radius: 8px !important;
  border: none !important;
  outline: none !important;
  overflow: hidden !important;

  .found-matches {
    padding-right: 10px !important;
  }
  
  // Center position for items
  .findbar-container {
    align-items: center !important; 
    display: flex !important;
    justify-content: center !important;
  }

  .findbar-textbox {
    margin-right: 10px !important;
  }

  &:not([hidden]) {
    animation-duration: 333ms, 187ms !important;
    animation-name: findbar-opacity, findbar-transform !important;
    animation-timing-function: val(point-to-point), ease-out !important;
  }

  &[hidden] {
    opacity: 0 !important;
  }
}

// Reverse for result block
.findbar-container {
  display: flex !important;
  flex-direction: column-reverse !important;

  height: 100% !important;
  overflow-y: visible !important;

  .found-matches {
    display: block !important;
    visibility: visible !important;
  }
}

.browserContainer > findbar {

  .found-matches,
  .findbar-textbox {
    border-right: 1px solid !important;
    border-color: var(--separator-color) !important;
  }
}

// Hide all checkboxes
.browserContainer > findbar {

  .findbar-find-status,
  .findbar-container > checkbox {
    display: none !important;
    visibility: collapse !important;
  }
}

// Findbar buttons
.findbar-closebutton,
.findbar-find-previous,
.findbar-find-next {
  --button-size: 24px;
  border-radius: 50% !important;
  padding: 6px !important;
  max-height: var(--button-size) !important;
  max-width: var(--button-size) !important;
  min-height: var(--button-size) !important;
  min-width: var(--button-size) !important;

  & > .toolbarbutton-icon {
    display: block !important;
    height: 18px !important;
    width: 18px !important;
    padding: 0 !important;
  }
}

// Findbar input
.findbar-textbox {
  border-bottom-width: 0 !important;
  border-left-width: 0 !important;
  border-radius: 0 !important;
  border-top-width: 0 !important;
  box-shadow: none !important;
  outline: 0 !important;
  width: auto !important;

  // Hide 'Find in page' text
  &::placeholder {
    color: transparent !important;
  }
}

.browserContainer > findbar[hidden] {
  opacity: 0 !important;
}

// Fix input bg color
.findbar-textbox,
.findbar-textbox[status="notfound"] {
  background-color: transparent !important;
}

@keyframes findbar-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes findbar-transform {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}
