// popup menu shortcuts gray if not mouseover
.toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1,
.toolbaritem-combined-buttons:is(
    :not([cui-areatype="toolbar"]),
    [overflowedItem="true"]
  )
  > toolbarbutton {
  &:not([disabled]) {
    &[shortcut]::after {
      color: get-var("text-secondary") !important;
    }

    &:hover[shortcut]::after {
      color: inherit !important;
    }
  }

  &[disabled] {
    &[shortcut]::after {
      color: get-var("text-secondary") !important;
    }

    &:hover[shortcut]::after {
      color: get-var("text-secondary") !important;
    }
  }
}

// also for #toolbar-menubar
menuitem:not([disabled]) {
  .menu-accel,
  .menu-iconic-accel {
    color: get-var("text-secondary") !important;
  }

  &:hover {
    .menu-accel,
    .menu-iconic-accel {
      color: inherit !important;
    }
  }
}

menuitem[disabled] {
  .menu-accel,
  .menu-iconic-accel {
    color: get-var("text-secondary") !important;
  }

  &:hover {
    .menu-accel,
    .menu-iconic-accel {
      color: get-var("text-secondary") !important;
    }
  }
}

// separator style
#widget-overflow-mainView > toolbarseparator,
#widget-overflow-mainView > .panel-subview-body > toolbarseparator,
.PanelUI-subView toolbarseparator,
#unified-extensions-panel toolbarseparator,
#permission-popup-mainView > toolbarseparator,
#editBookmarkPanel toolbarseparator,
#downloadsFooterButtons > toolbarseparator,
.cui-widget-panel toolbarseparator {
  margin: 0.4em 7px !important;
}
// menuseparator {
//   border-top: 1px solid !important;
//   border-color: get-var("menu-border-color") !important;
// }

toolbarbutton menupopup[placespopup] menuseparator::before {
  border-top: 1px solid !important;
  border-color: get-var("menu-border-color") !important;
}

// popup drop shadow
@media (-moz-platform: windows) {
  menupopup,
  panel {
    --panel-shadow-margin: 12px !important;
  }
}

menupopup,
panel {
  --panel-shadow: #{get-var("elevation-2")} !important;
}
