// popup menu shortcuts gray if not mouseover
.toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1,
.toolbaritem-combined-buttons:is(
    :not([cui-areatype="toolbar"]),
    [overflowedItem="true"]
  )
  > toolbarbutton {
  &:not([disabled]) {
    &[shortcut]::after {
      color: get-var("text-secondary") !important;
    }

    &:hover[shortcut]::after {
      color: inherit !important;
    }
  }
}

// also for #toolbar-menubar
menuitem:not([disabled]) {
  .menu-accel,
  .menu-iconic-accel {
    color: get-var("text-secondary") !important;
  }

  &:hover {
    .menu-accel,
    .menu-iconic-accel {
      color: inherit !important;
    }
  }
}

// separator style
#widget-overflow-mainView > toolbarseparator,
#widget-overflow-mainView > .panel-subview-body > toolbarseparator,
.PanelUI-subView toolbarseparator,
#unified-extensions-panel toolbarseparator,
#permission-popup-mainView > toolbarseparator,
#editBookmarkPanel toolbarseparator,
#downloadsFooterButtons > toolbarseparator,
.cui-widget-panel toolbarseparator {
  border-top: 1px solid !important;
  border-color: get-var("menu-border-color") !important;
  margin: 0.4em 7px !important;
}

toolbarbutton menupopup[placespopup] menuseparator::before {
  border-top: 1px solid !important;
  border-color: get-var("menu-border-color") !important;
}

menupopup, panel{
  --panel-shadow: #{get-var("elevation-2")} !important;
}
panelmultiview {
  border: 1px solid !important;
  border-color: get-var("menu-border-color")!important;
  // border-radius: 4px !important;
}
.panel-subview-body {
  padding: 6px 0  !important;
}

toolbarbutton menupopup[placespopup] > :is(menu, menuitem), .subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
  min-height: 30px !important;
  padding: 0 8px !important;
}

#appMenu-popup {
  --panel-border-radius: 4px !important;
  --panel-shadow: #{get-var("elevation-2")} !important;
  --panel-separator-margin: 2px !important;
}

:root {
  --arrowpanel-menuitem-margin-block: 0 !important;
  --arrowpanel-menuitem-margin-inline: 7px !important;
  // --arrowpanel-menuitem-margin: 0px !important;
  // --arrowpanel-menuitem-padding-block: 0px !important;
  // --arrowpanel-menuitem-padding-inline: 0px !important;
  // --arrowpanel-menuitem-padding: 0px !important;
  // --arrowpanel-menuitem-border-radius: 4px !important;
}

// modal window shadow
.dialogBox:not(.spotlightBox) {
  box-shadow: get-var("elevation-2") !important;
}

// modal window background and text color
:root {
  background-color: get-var("bgcolor-50") !important;
  color: get-var("text-primary") !important;
}