@media (-moz-platform: macos) {
  .titlebar-buttonbox-container {
    // margin-top: 3px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 12px !important;
  }

  .titlebar—buttonbox:-moz-locale-dir(ltr) {
    margin-right: 12px !important;
  }
}
