@media (-moz-platform: macos) {
  .titlebar-buttonbox-container {
    // margin-top: 3px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 6px !important;
  }

  .titlebar—buttonbox:-moz-locale-dir(ltr) {
    margin-right: 12px !important;
  }
}

/* make window titlebar like mac os (only for windows or linux) */
@supports -moz-bool-pref("userChrome.macos-buttons-right") or -moz-bool-pref("userChrome.macos-buttons-left") {
  @media not (-moz-platform: macos) {
    .titlebar-button {
      --mf-caption-color: #f6be4f;
      --mf-border-color: #d6a243;
    }

    .titlebar-min {
      --mf-caption-color: #62c554;
      --mf-border-color: #58a942;
    }

    .titlebar-close {
      --mf-caption-color: #ed6a5e;
      --mf-border-color: #ce5347;
    }

    .titlebar-button {
      background: transparent !important;
      padding: 0 !important;
      padding-inline: 4px !important;
    }

    /* .titlebar-close {
      padding-left: 13px !important;
    } */

    .titlebar-close > .toolbarbutton-icon,
    .titlebar-restore > .toolbarbutton-icon,
    .titlebar-max > .toolbarbutton-icon,
    .titlebar-min > .toolbarbutton-icon {
      list-style-image: none !important;
      border-radius: 50% !important;
      background: var(--mf-caption-color) !important;
      border: 1px solid !important;
      border-color: var(--mf-border-color) !important;

      transform: scale(1);
      transition: transform 0.3s !important;
    }

    .titlebar-close:hover > .toolbarbutton-icon,
    .titlebar-restore:hover > .toolbarbutton-icon,
    .titlebar-max:hover > .toolbarbutton-icon,
    .titlebar-min:hover > .toolbarbutton-icon {
      transform: scale(0.8);
    }

    /* move window nav to left */
    .titlebar-buttonbox-container {
      -moz-box-ordinal-group: 0 !important;
    }

    /* reverse buttons */
    /* .titlebar-buttonbox {
      display: flex !important;
      flex-direction: row-reverse !important;
    } */

    /* added missing width to right spacer */
    :is(.titlebar-placeholder, .titlebar-spacer)[type="post-tabs"] {
      width: 117px !important;
      /* 138(win titlebar width) - 69(mac titlebar width) = 69; 48(right spacer width) + 69(empty width) = 117 */
    }
  }
}

@supports -moz-bool-pref("userChrome.macos-buttons-left") {
  /* position left  */
  #TabsToolbar {
    display: flex !important;
    flex-direction: row-reverse !important;
  }

  /* reverse buttons */
  .titlebar-buttonbox {
    display: flex !important;
    flex-direction: row-reverse !important;
  }

  .titlebar-close {
    padding-left: 13px !important;
  }
}

@supports -moz-bool-pref("userChrome.macos-buttons-right") {
  .titlebar-close {
    padding-right: 13px !important;
  }
}
