{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "arrowParens": "avoid",
    "plugins": ["stylefmt"],
    "pluginSearchDirs": false,
    "bracketSpacing": true
}