$colors: (
  // --------------------------------------------------------------------------------
  // -- Color palette
  // --------------------------------------------------------------------------------
  "white": #fff,
  "black": #000,
  "grey-900-white-4-percent": #292a2d,
  "grey-900-white-5-percent": #35363a,
  "grey-900": #202124,
  "grey-800": #3c4043,
  "grey-700": #5f6368,
  "grey-600": #80868b,
  "grey-500": #9aa0a6,
  "grey-400": #bdc1c6,
  "grey-300": #dadce0,
  "grey-200": #e8eaed,
  "grey-100": #f1f3f4,
  "grey-50": #f8f9fa,
  "blue-900": #174ea6,
  "blue-800": #185abc,
  "blue-700": #1967d2,
  "blue-600": #1a73e8,
  "blue-500": #4285f4,
  "blue-400": #669df6,
  "blue-300": #8ab4f8,
  "blue-200": #aecbfa,
  "blue-100": #d2e3fc,
  "blue-50": #e8f0fe,

  // --------------------------------------------------------------------------------
  // -- Shadow
  // --------------------------------------------------------------------------------
  "shadow-color-rgb": "0,0,0",
  "elevation-2": (
    rgba(get-var(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(get-var(shadow-color-rgb), 0.15) 0 2px 6px 2px
  )
);

$dark-mode: (
  // accent color
  "accent-color": get-var(blue-300),
  "accent-color-hover": cm(transparent, get-var(accent-color), 0.8),
  "accent-color-transparent": cm(transparent, get-var(accent-color), 0.0837),

  // UI background colors
  "bgcolor-0": get-var(grey-900),
  "bgcolor-50": get-var(grey-900-white-4-percent),
  "bgcolor-100": get-var(grey-900-white-5-percent),

  // Optional feature: Github theme colors
  // "bgcolor-0": #0d1117,
  // "bgcolor-50": #161b22,
  // "bgcolor-100": #21262d,
  // UI text
  "text-primary": get-var(grey-200),
  "text-secondary": get-var(grey-500),

  // Primary button text color
  "text-on-accent": get-var(grey-900),

  // Button, Dropdown, Search inputs
  "control-bgcolor": cm(transparent, white, 0.0605),
  "control-border-color": cm(transparent, white, 0.0605),

  // input, select, textarea
  "input-bgcolor": get-var(bgcolor-0),

  // Menu, Popups
  "menu-bgcolor": get-var(bgcolor-50),
  "menu-border-color": get-var(grey-800),

  // Tab bar
  "tab-separator-color": cm(transparent, white, 0.2),
  "tab-outline-color": cm(transparent, black, 0.1),
  "tab-opacity-hover": 0.5,

  // navbar
  "icon-color-primary": get-var(grey-100),
  "icon-color-secondary": get-var(grey-500),

  // selection solors
  "selection-text": get-var("white"),
  "selection-bgcolor": get-var("blue-500")
);

$light-mode: (
  // Accent colors
  "accent-color": get-var(blue-500),
  "accent-color-hover": cm(transparent, get-var(accent-color), 0.8),
  
  // UI background colors
  "bgcolor-0": #dee1e6,
  "bgcolor-50": get-var(grey-100),
  "bgcolor-100": get-var("white"),

  // UI text
  "text-primary": get-var(grey-900),
  "text-secondary": get-var(grey-700),

  // Primary button text color
  "text-on-accent": white,

  // Button, Dropdown, Search inputs
  "control-bgcolor": get-var(bgcolor-50),
  "control-border-color": transparent,

  // input, select, textarea
  "input-bgcolor": get-var(bgcolor-100),

  // Menu, Popups
  "menu-bgcolor": get-var(bgcolor-100),
  "menu-border-color": get-var(bgcolor-0),

  // Tab bar
  "tab-separator-color": cm(transparent, black, 0.2),
  "tab-outline-color": cm(transparent, black, 0.2),
  "tab-opacity-hover": 0.5,

  // Navbar
  "icon-color-primary": get-var(grey-700),
  "icon-color-secondary": get-var(grey-700),

  // selection solors
  "selection-text": get-var("black"),
  "selection-bgcolor": get-var("blue-200")
);
