$icons: (
  // tabbar
  "no-src-icon": url("icons/no-src.svg"),
  "audio-icon": url("icons/audio.svg"),
  "audio-muted-icon": url("icons/audio-muted.svg"),
  "audio-blocked-icon": url("icons/audio-blocked.svg"),
  "close-tab-icon": url("icons/close-tab.svg"),
  "plus-icon": url("icons/plus.svg"),
  // navbar
  "arrow-back-icon": url("icons/arrow-back.svg"),
  "arrow-forward-icon": url("icons/arrow-forward.svg"),
  "refresh-icon": url("icons/refresh.svg"),
  "close-icon": url("icons/close.svg"),
  "home-icon": url("icons/home.svg"),
  "dev-icon": url("icons/dev.svg"),
  "menu-icon": url("icons/menu.svg"),
  "menu-update-icon": url("icons/menu-update.svg"),
  "extension-icon": url("icons/extension.svg"),
  "extension-blocked-icon": url("icons/extension-blocked.svg"),
  "download-icon": url("icons/download.svg"),
  "account-icon": url("icons/account.svg"),
  "side-panel-icon": url("icons/side-panel.svg"),
  //urlbar
  "info-icon": url("icons/info.svg"),
  "lock-icon": url("icons/lock.svg"),
  "page-info": url("icons/page-info.svg"),
  "warning-icon": url("icons/warning.svg"),
  "properties-icon": url("icons/properties.svg"),
  "tracking-protection-icon": url("icons/tracking-protection.svg"),
  "star-icon": url("icons/star.svg"),
  //other
  "chevron-icon": url("icons/chevron.svg"),
  "folder-icon": url("icons/folder.svg"),
  "check-icon": url("icons/check.svg"),
  "edit-icon": url("icons/edit.svg"),
  "arrow-right-icon": url("icons/arrow-right.svg"),
  "arrow-down-icon": url("icons/arrow-down.svg"),
  "organization-icon": url("icons/organization.svg"),
  // menu
  "new-tab-icon": url("icons/new-tab.svg"),
  "new-window-icon": url("icons/new-window.svg"),
  "incognito-icon": url("icons/incognito.svg"),
  "history-icon": url("icons/history.svg"),
  "key-icon": url("icons/key.svg"),
  "print-icon": url("icons/print.svg"),
  "file-save-icon": url("icons/file-save.svg"),
  "find-icon": url("icons/find.svg"),
  "translate-icon": url("icons/translate.svg"),
  "settings-icon": url("icons/settings.svg"),
  "tools-icon": url("icons/tools.svg"),
  "help-icon": url("icons/help.svg"),
  "zoom-in-icon": url("icons/zoom-in.svg"),
  "exit-icon": url("icons/exit.svg"),
  "search-icon": url("icons/search.svg"),
  "multiaccountcontainer-icon": url("icons/multiaccountcontainer.svg"),
  "toolbar-icon": url("icons/toolbar.svg"),
  "bookmark-manager-icon": url("icons/bookmark-manager.svg"),
  "trash-icon": url("icons/trash.svg"),
  "task-manager-icon": url("icons/task-manager.svg"),
  "eyedropper-icon": url("icons/eyedropper.svg"),
  "devices-icon": url("icons/devices.svg"),
  "remote-icon": url("icons/remote.svg"),
  "code-icon": url("icons/code.svg"),
  "report-icon": url("icons/report.svg"),
  "feedback-icon": url("icons/feedback.svg"),
  "open-in-icon": url("icons/open-in.svg"),

  "extension-old-icon": url("icons/old/extension.svg")
);

$icons-old: (
  "audio-icon": url("icons/old/audio.svg"),
  "audio-muted-icon": url("icons/old/audio-muted.svg"),
  "audio-blocked-icon": url("icons/old/audio-blocked.svg"),

  //naav bar
  "home-icon": url("icons/old/home.svg"),
  "extension-icon": url("icons/old/extension.svg"),

  "page-info": url("icons/lock.svg"),

  "tracking-protection-icon": url("icons/old/tracking-protection.svg")
)