:not(button-group) > button {
  // general button styles
  &:is(
      [accesskey],
      .accessory-button,
      [dlgtype="cancel"],
      [autofocus],
      [default],
      .primary,
      .primary-button,
      .popup-notification-primary-button,
      .disco-cta-button
    ),
  [type="submit"] {
    padding: 8px 16px !important;
    border-radius: 4px !important;

    align-items: center;
    justify-content: center;
    text-align: center;

    transition: background-color 187ms get-var("fast-invoke");
  }

  // secondary button styles
  &:is([accesskey], .accessory-button, [dlgtype="cancel"], .disco-cta-button) {
    // color: get-var("accent-color") !important;
    background-color: transparent !important;
    border: 1px solid !important;
    border-color: get-var("menu-border-color") !important;

    &:not(.disabled, :disabled, [disabled]):hover {
      background-color: get-var("accent-color-transparent") !important;
    }
  }

  // primary button styles
  &:is(
      [autofocus],
      [default],
      .primary,
      .primary-button,
      .popup-notification-primary-button
    ),
  [type="submit"] {
    border: none !important;
    // color: get-var("text-on-accent") !important;
    background-color: get-var("accent-color") !important;

    &:not(.disabled, :disabled, [disabled]):hover {
      background-color: get-var("accent-color-hover") !important;
    }
  }

  &:not(.disabled, :disabled, [disabled]) {
    cursor: pointer;
  }
}

// fix font color for dialog box buttons
:not(dialog, .dialogBox) {
  :not(button-group) > button {
    // secondary button styles
    &:is(
        [accesskey],
        .accessory-button,
        [dlgtype="cancel"],
        .disco-cta-button
      ) {
      color: get-var("secondary-button-text") !important;
    }
    // primary button styles
    &:is(
        [autofocus],
        [default],
        .primary,
        .primary-button,
        .popup-notification-primary-button
      ),
    [type="submit"] {
      color: get-var("text-on-accent") !important;
    }
  }
}
