// variables
$button-border-radius: 4px;
$button-padding: 8px 16px;
$button-min-width: 5.14em;

// mixins
@mixin button-styles {
  min-width: $button-min-width !important;
  border-radius: $button-border-radius !important;
  padding: $button-padding !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 187ms get-var("fast-invoke") !important;
}

@mixin primary-button-styles {
  border: none !important;
  color: get-var("text-on-accent") !important;
  background-color: get-var("accent-color") !important;

  &:not(.disabled, :disabled, [disabled]):hover {
    background-color: get-var("accent-color-hover") !important;
  }

  &:not(.disabled, :disabled, [disabled]):hover:active {
    background-color: get-var("accent-color-hover") !important;
  }
}

@mixin secondary-button-styles {
  color: get-var("secondary-button-text") !important;
  background-color: transparent !important;
  border: 1px solid !important;
  border-color: get-var("menu-border-color") !important;

  &:not(.disabled, :disabled, [disabled]):hover {
    background-color: get-var("accent-color-transparent") !important;
  }

  &:not(.disabled, :disabled, [disabled]):hover:active {
    background-color: get-var("accent-color-transparent-active") !important;
  }
}

// styles
:not(button-group) > button {
  &:is(
      [accesskey],
      .accessory-button,
      [dlgtype="cancel"],
      [autofocus],
      [default],
      .primary,
      .primary-button,
      .popup-notification-primary-button,
      .disco-cta-button
    ),
  [type="submit"] {
    @include button-styles;
  }

  // Secondary buttons
  &:is([accesskey], .accessory-button, [dlgtype="cancel"], .disco-cta-button) {
    @include secondary-button-styles;
  }

  // Primary buttons
  &:is(
      [autofocus],
      [default],
      .primary,
      .primary-button,
      .popup-notification-primary-button
    ),
  [type="submit"] {
    @include primary-button-styles;
  }

  &:not(.disabled, :disabled, [disabled]) {
    cursor: pointer;
  }
}

// Fix font color for dialog box buttons
:not(dialog, .dialogBox) {
  :not(button-group) > button {
    // Secondary buttons
    &:is(
        [accesskey],
        .accessory-button,
        [dlgtype="cancel"],
        .disco-cta-button
      ) {
      color: get-var("secondary-button-text") !important;
    }

    // Primary buttons
    &:is(
        [autofocus],
        [default],
        .primary,
        .primary-button,
        .popup-notification-primary-button
      ),
    [type="submit"] {
      color: get-var("text-on-accent") !important;
    }
  }
}
