/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}
/* Semibold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Roboto"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}
/* Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Roboto"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}