// radio button
input[type="radio"],
.radio-check {
  border: none !important;
  background-color: get-var("background-color-0") !important;

  outline-width: 2px !important;
  outline-style: solid !important;
  outline-color: get-var("menu-border-color") !important;
  outline-offset: -2px !important;

  width: 20px !important;
  height: 20px !important;

  color: get-var("accent-color") !important;

  background-size: 10px !important;
  background-position: center !important;

  transition: background-size 187ms get-var("fast-invoke");
}

input[type="radio"]:enabled:hover,
radio:not([disabled="true"]):hover > .radio-check {
  &:not([selected], :checked) {
    background-color: get-var("background-color-50") !important;
  }
}

input[type="radio"]:checked,
.radio-check[selected] {
  background-size: 16px !important;

  outline-color: get-var("accent-color") !important;
}

radio {
  position: relative !important;

  &::after {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    display: grid;
    align-items: center !important;
    top: 50%;
    left: -15px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 187ms get-var("fast-invoke");
    z-index: 1;
    transform: translateY(-50%);
  }
}

radio:not([disabled="true"]) {
  &:hover::after {
    background-color: get-var("accent-color-transparent");
  }

  &:hover:active::after {
    background-color: get-var("accent-color-transparent-active");
  }
}

// hand cursor on hover
radio:not([disabled="true"]) {
  cursor: pointer !important;

  // also for label, because it doesn't inherit
  label {
    cursor: pointer !important;
  }
}
