// radio button
input[type="radio"],
.radio-check {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;

  border: none !important;
  background-color: get-var("background-color-0") !important;

  // outline-width: 2px !important;
  // outline-style: solid !important;
  // outline-color: get-var("menu-border-color") !important;
  // outline-offset: 0px !important;

  width: 16px !important;
  height: 16px !important;

  color: get-var("accent-color") !important;
  border-color: get-var("accent-color") !important;

  background-size: 16px !important;

  background-position: center !important;

  transition-property: background-size !important;
  transition-duration: get-var("medium-short-duration") !important;
  transition-timing-function: get-var("fast-invoke") !important;
}

input[type="radio"]:enabled:hover,
radio:not([disabled="true"]):hover > .radio-check {
  &:not([selected], :checked) {
    background-color: get-var("background-color-50") !important;
  }
}

input[type="radio"]:checked,
.radio-check[selected] {
  background-size: 16px !important;

  border: none !important;
  // outline-width: 2px !important;
  // outline-style: solid !important;
  // outline-offset: 0px !important;
  // outline-color: get-var("accent-color") !important;
}

radio {
  position: relative !important;

  &::after {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    display: grid;
    align-items: center !important;
    top: 50%;
    left: -15px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 1;

    transform: translateY(-50%);

    transition-property: background-color;
    transition-duration: get-var("medium-short-duration");
    transition-timing-function: get-var("fast-invoke");
  }
}

radio:not([disabled="true"]) {
  &:hover::after {
    background-color: get-var("accent-color-transparent");

    animation-name: control-hover;
    animation-duration: get-var("short-duration");
    animation-timing-function: get-var("fast-invoke");
  }

  &:hover:active::after {
    background-color: get-var("accent-color-transparent-active");
  }
}

// hand cursor on hover
radio:not([disabled="true"]) {
  cursor: pointer !important;

  // also for label, because it doesn't inherit
  label {
    cursor: pointer !important;
  }
}
