@use "sass:meta";

// selection color
::selection {
  background-color: get-var("blue-500") !important;
  color: get-var("white") !important;
}
@media (prefers-color-scheme: light) {
  ::selection {
    background-color: get-var("blue-200") !important;
    color: get-var("black") !important;
  }
}

// inherit fonts for inputs and buttons
input,
// :not(button-group) > button,
textarea,
select {
  font: inherit !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
}

input:is(
    [type="email"],
    [type="tel"],
    [type="text"],
    [type="password"],
    [type="url"],
    [type="number"]
  ),
textarea,
search-textbox {
  border: 1px solid;
  border-color: get-var("menu-border-color") !important;
  background-color: get-var("bgcolor-0") !important;
  border-radius: 4px !important;

  @media (prefers-color-scheme: light) {
    background-color: get-var("bgcolor-100") !important;
  }

  &:focus {
    border-color: transparent !important;
    outline: 2px solid !important;
    outline-offset: -2px;
    outline-color: get-var("accent-color") !important;
  }
}

// checkbox new icon
.checkbox-check[checked],
.home-section .section .sponsored-checkbox:checked {
  background-image: get-var("check-icon") !important;
  background-color: get-var("accent-color") !important;
  border-radius: 2px !important;
}

// button font weight similar to chrome
button {
  font-weight: 500 !important;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none !important;
}

// font settings
:root,
html,
body {
  --#{$prefix}-font-family: system-ui, -apple-system,
    #{meta.inspect($font-family)};

  font-family: var(--#{$prefix}-font-family) !important;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: normal;
  font-variation-settings: normal;
  line-height: 1.2;
  tab-size: 4;
}

// Custom font (only for windows)
@media (-moz-platform: windows) {
  :root,
  html,
  body {
    --#{$prefix}-font-family: #{meta.inspect($font-family)};
  }

  *,
  *::before,
  *::after {
    font-family: var(--#{$prefix}-font-family) !important;
  }
}
