// hide selected item outline
:root {
  --default-focusring-width: 0px !important;
}

:root {
  --default-focusring: var(--default-focusring-width) solid !important;
}

// downloads window
#downloadsListBox:focus > richlistitem[selected] {
  border: none !important;
  outline: none !important;
}

richlistbox {
  background-color: get-var(input-background-color) !important;
}

richlistitem[selected] {
  background-color: get-var(accent-color) !important;
  color: get-var(text-on-accent) !important;
}
