/* // firefox change youtube description style and that fix it to normal style */
@-moz-document domain(youtube.com) {
  /* // show normal info block */
  #content.style-scope.ytd-app #meta-contents {
    display: flex !important;
  }

  /* // fix font weight */
  #content.style-scope.ytd-app .title.ytd-video-primary-info-renderer {
    font-weight: 400 !important;
  }

  /* // fix info block width */
  #content.style-scope.ytd-app
    #meta-contents
    > ytd-video-secondary-info-renderer {
    width: 100% !important;
  }

  /* // fix info block width */
  #content.style-scope.ytd-app #description.ytd-watch-metadata {
    min-width: 0;
  }

  /* // show new info */
  #content.style-scope.ytd-app #info {
    display: flex !important;
  }

  #content.style-scope.ytd-app #info-contents {
    display: flex !important;
    width: 100% !important;
  }

  /* // fix width */
  #content.style-scope.ytd-app #info-contents ytd-video-primary-info-renderer,
  #content.style-scope.ytd-app
    #info-contents
    ytd-video-primary-info-renderer
    #container {
    width: 100% !important;
  }

  /* // hide old info block elements */
  #content.style-scope.ytd-app #comment-teaser,
  #content.style-scope.ytd-app #expand,
  #content.style-scope.ytd-app #owner,
  #content.style-scope.ytd-app
    ytd-watch-metadata.watch-active-metadata.style-scope.ytd-watch-flexy {
    display: none !important;
  }

  /* // fix margin to new info block */
  #content.style-scope.ytd-app ytd-watch-metadata.ytd-watch-flexy {
    margin-bottom: 0 !important;
  }

  /* // hide description old elements */
  #content.style-scope.ytd-app
    #formatted-snippet-text
    > :not(.style-scope.yt-formatted-string.bold) {
    display: none !important;
  }

  /* // fix video info color */
  #content.style-scope.ytd-app #formatted-snippet-text > span {
    color: var(--yt-spec-text-secondary) !important;
  }

  /* // fix word wrap if small width */
  ytd-toggle-button-renderer yt-formatted-string {
    white-space: nowrap !important;
  }

  /*  */
  /* optional - hide payment elements */
  /*  */

  /* hide download button & sponsor join button */
  #info ytd-download-button-renderer,
  #sponsor-button {
    display: none !important;
  }

  /* remove unwanted margin for expanded description container */
  ytd-expander.ytd-video-secondary-info-renderer {
    margin-left: 0px !important;
  }

  /* fix width for expanded description container */
  #description.ytd-video-secondary-info-renderer {
    max-width: unset !important;
  }
}
