@-moz-document url-prefix("about:privatebrowsing") {
  // private browsing page colors
  :root,
  html,
  body {
    // main bg color
    --in-content-page-background: #{get-var("bgcolor-100")} !important;
  }

  .search-inner-wrapper {
    height: 44px !important;
  }

  .search-handoff-button,
  .search-handoff-button:active,
  .search-handoff-button:enabled:hover:active {
    background-color: get-var("bgcolor-0") !important;
    background-size: 24px;
    border: 0 !important;
    border-radius: 99px !important;
    padding-inline-start: 48px !important;
  }

  .search-handoff-button.focused:not(.disabled) {
    box-shadow: none !important;
    outline: 2px solid !important;
    outline-color: get-var("accent-color") !important;
    outline-offset: -2px !important;
  }

  .search-handoff-button.disabled {
    opacity: 0 !important;
  }

  .fake-textbox {
    color: var(--in-content-page-color) !important;
    font-weight: 400 !important;
  }

  .info {
    background-color: get-var("bgcolor-0") !important;
    border-radius: 18px !important;
  }

  .fake-caret {
    background-color: var(--in-content-text-color) !important;
  }

  .fake-caret {
    inset-inline-start: 48px !important;
    top: 13px !important;
  }

  // promo card
  .promo-visible {
    background-color: get-var("bgcolor-0") !important;
    border-radius: 18px !important;
  }

  // promo card button
  .promo-cta .primary {
    background-color: get-var("accent-color") !important;
    color: get-var("text-on-accent") !important;
  }
}
