@-moz-document url-prefix("about:reader") {
  body.dark {
    // original
    // --main-background: var(--dark-theme-background);
    // --main-foreground: var(--dark-theme-foreground);
    // --primary-color: rgb(0, 221, 255);
    // --toolbar-border: rgba(249, 249, 250, 0.2);
    // --toolbar-button-background-hover: rgb(82, 82, 94);
    // --toolbar-button-background-active: rgb(91, 91, 102);
    // --popup-background: rgb(66, 65, 77);
    // --popup-line: rgba(249, 249, 250, 0.1);
    // --popup-button-background: rgb(43, 42, 51);
    // --selected-background: rgba(0, 221, 255, 0.3);
    // --font-value-background: rgba(249, 249, 250, 0.15);
    // --font-value-border: #656468;
    // --icon-fill: rgb(251, 251, 254);
    // --icon-disabled-fill: rgba(251, 251, 254, 0.4);
    // --link-selected-foreground: #fff;
    // custom
    --main-background: #{get-var("bgcolor-0")} !important;
    --main-foreground: #{get-var("text-primary")} !important;
    --primary-color: #{get-var("accent-color")} !important;
    --toolbar-border: #{get-var("menu-border-color")} !important;
    --toolbar-button-background-hover: #{get-var("bgcolor-50")} !important;
    --toolbar-button-background-active: #{get-var("bgcolor-100")} !important;
    --popup-background: #{get-var("bgcolor-50")} !important;
    --popup-line: #{get-var("menu-border-color")} !important;
    --popup-button-background: #{get-var("bgcolor-0")} !important;
    --selected-background: #{get-var("accent-color-transparent")} !important;
    --font-value-background: #{get-var("bgcolor-50")} !important;
    --font-value-border: #{get-var("menu-border-color")} !important;
    --icon-fill: #{get-var("icon-color-secondary")} !important;
    --icon-disabled-fill: rgb(251 251 254 / 40%);
    --link-selected-foreground: #fff;
  }

  body.dark,
  body.light,
  body.sepia {
    .toolbar,
    .dropdown .dropdown-popup {
      box-shadow: #{get-var("elevation-2")} !important;
    }

    .domain {
      text-decoration: underline var(--primary-color) !important;
    }
  }

  body.serif {
    .container * {
      font-family: Georgia, "Times New Roman", serif !important;
    }
  }
}
