
  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(Roboto-Light.woff2) format('woff2'), url(Roboto-Light.ttf) format("truetype");
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Roboto-Regular.woff2) format('woff2'), url(Roboto-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(Roboto-Medium.woff2) format('woff2'), url(Roboto-Medium.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(Roboto-Medium.woff2) format('woff2'), url(Roboto-Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(Roboto-Bold.woff2) format('woff2'), url(Roboto-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(Roboto-Bold.woff2) format('woff2'), url(Roboto-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(Roboto-Black.woff2) format('woff2'), url(Roboto-Black.ttf) format("truetype");
  }