/* Error: expected selector.
 *    ,
 * 37 | <<<<<<< HEAD:src/global/_reset.scss
 *    | ^
 *    '
 *   src\global\_reset.scss 37:1  @import
 *   src\user-content.scss 7:11   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a    \2577 \a 37 \2502  <<<<<<< HEAD:src/global/_reset.scss\d\a    \2502  ^\a    \2575 \a   src\\global\\_reset.scss 37:1  @import\a   src\\user-content.scss 7:11   root stylesheet";
}
