:-moz-any(:root, html, body) {
  // regular vars
  @each $key, $value in $variables {
    --#{$prefix}-#{$key}: #{$value};
  }
}

// vars for dark mode
@media (prefers-color-scheme: dark) {
  :-moz-any(:root, html, body) {
    @each $key, $value in $dark-mode {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}

// vars for light mode
@media (prefers-color-scheme: light) {
  :-moz-any(:root, html, body) {
    @each $key, $value in $light-mode {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}

// accent color vars
:is(:root, html, body, panel, toolbar) {
  --lwt-brighttext-url-color: #{val(accent-color)} !important;
  --toolbarbutton-icon-fill-attention: #{val(accent-color)} !important;
}
:is(:root, html, body) {
  --panel-banner-item-info-icon-bgcolor: #{val(accent-color)} !important;
  --focus-outline-color: #{val(accent-color)} !important;
  --button-primary-active-bgcolor: #{val(accent-color)} !important;
  --button-primary-bgcolor: #{val(accent-color)} !important;
  --button-primary-hover-bgcolor: #{val(accent-color-hover)} !important;
  --toolbar-field-focus-border-color: #{val(accent-color)} !important;
}

// shadow
:is(:root, html, body, menupopup, panel) {
  --windows-panel-box-shadow: #{val(elevation-2)} !important;
}

@media (prefers-color-scheme: dark) {
  :is(html, body) {
    //----------------------------------------------------------------------
    // --   Firefox vars
    // ----------------------------------------------------------------------

    // gray-900 - 0% lt dark bg
    --lwt-accent-color: #{val(bgcolor-0)} !important;
    --toolbar-field-background-color: #{val(bgcolor-0)} !important;
    --toolbar-field-focus-background-color: #{val(bgcolor-0)} !important;
    --lwt-background-tab-separator-color: #{val(bgcolor-0)} !important;

    // grey-900-white-4-percent - 50% lt dark bg
    --arrowpanel-background: #{val(bgcolor-50)} !important;
    --arrowpanel-border-color: #{val(bgcolor-50)} !important;
    --lwt-selected-tab-background-color: #{val(bgcolor-50)} !important;
    --autocomplete-popup-highlight-background: #{val(bgcolor-50)} !important;
    --tabpanel-background-color: #{val(bgcolor-50)} !important;
    --toolbarseparator-color: #{val(bgcolor-50)} !important;
    --tab-icon-overlay-stroke: #{val(bgcolor-50)} !important;

    // grey-900-white-5-percent - 100% lt dark bg
    --toolbar-bgcolor: #{val(bgcolor-100)} !important;

    // grey-200 - primary text
    --arrowpanel-color: #{val(grey-200)} !important;
    --input-color: #{val(grey-200)} !important;
    --lwt-tab-text: #{val(grey-200)} !important;
    --lwt-text-color: #{val(grey-200)} !important;
    --toolbar-color: #{val(grey-200)} !important;
    --toolbar-field-color: #{val(grey-200)} !important;
    --toolbar-field-focus-color: #{val(grey-200)} !important;

    // text on accent
    --button-primary-color: #{val(text-on-accent-primary)} !important;

    --autocomplete-popup-separator-color: #{val(border-color)} !important;

    --button-active-bgcolor: #{val(control-bgcolor)} !important;
    --button-bgcolor: #{val(control-bgcolor)} !important;
    --button-hover-bgcolor: #{val(control-bgcolor)} !important;

    --chrome-content-separator-color: #{val(tab-outline-color)} !important;

    --panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189);
    --panel-description-color: rgba(251, 251, 254, 0.7);
    --panel-disabled-color: rgba(251, 251, 254, 0.5);
    --panel-item-active-bgcolor: color-mix(in srgb, currentColor 25%, transparent);
    --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent);
    --panel-separator-zap-gradient: transparent !important;

    --tab-icon-overlay-fill: rgb(251, 251, 254) !important;

    --toolbar-field-border-color: transparent !important;

    --toolbarbutton-icon-fill: rgb(251, 251, 254);
  }
}
