:root {
  // regular vars
  @each $key, $value in $variables {
    --#{$prefix}-#{$key}: #{$value};
  }
}

// vars for dark mode
@media (prefers-color-scheme: dark) {
  :root {
    @each $key, $value in $dark-mode {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}

// vars for light mode
@media (prefers-color-scheme: light) {
  :root {
    @each $key, $value in $light-mode {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}

// accent color vars
:root,
html,
body,
panel,
toolbar {
  --lwt-brighttext-url-color: #{get-var("accent-color")} !important;
  --toolbarbutton-icon-fill-attention: #{get-var("accent-color")} !important;
}

:root,
:is(panel, toolbar, #urlbar, #searchbar) {
  --toolbar-field-icon-fill-attention: #{get-var("accent-color")} !important;
}

:root,
html,
body {
  --panel-banner-item-info-icon-bgcolor: #{get-var("accent-color")} !important;
  --focus-outline-color: #{get-var("accent-color")} !important;
  --button-primary-active-bgcolor: #{get-var("accent-color")} !important;
  --button-primary-bgcolor: #{get-var("accent-color")} !important;
  --button-primary-hover-bgcolor: #{get-var("accent-color-hover")} !important;
  --toolbar-field-focus-border-color: #{get-var("accent-color")} !important;
}

// shadow
:root,
html,
body,
menupopup,
panel {
  --windows-panel-box-shadow: #{get-var("elevation-2")} !important;
}

html,
body {
  //----------------------------------------------------------------------
  // --   Firefox vars
  // ----------------------------------------------------------------------

  // gray-900 - 0% lt dark bg
  --lwt-accent-color: #{get-var("bgcolor-0")} !important;
  --toolbar-field-background-color: #{get-var("bgcolor-0")} !important;
  --toolbar-field-focus-background-color: #{get-var("bgcolor-0")} !important;
  --lwt-background-tab-separator-color: #{get-var("bgcolor-0")} !important;

  // grey-900-white-4-percent - 50% lt dark bg
  --arrowpanel-background: #{get-var("menu-bgcolor")} !important;
  --arrowpanel-border-color: #{get-var("bgcolor-50")} !important;
  --lwt-selected-tab-background-color: #{get-var("bgcolor-50")} !important;
  --autocomplete-popup-highlight-background: #{get-var("bgcolor-50")} !important;
  --tabpanel-background-color: #{get-var("bgcolor-50")} !important;
  --toolbarseparator-color: #{get-var("bgcolor-50")} !important;
  --tab-icon-overlay-stroke: #{get-var("bgcolor-50")} !important;

  // grey-900-white-5-percent - 100% lt dark bg
  --toolbar-bgcolor: #{get-var("bgcolor-100")} !important;

  // grey-200 - primary text
  --arrowpanel-color: #{get-var("text-primary")} !important;
  --input-color: #{get-var("text-primary")} !important;
  --lwt-tab-text: #{get-var("text-primary")} !important;
  --lwt-text-color: #{get-var("text-primary")} !important;
  --toolbar-color: #{get-var("text-primary")} !important;
  --toolbar-field-color: #{get-var("text-primary")} !important;
  --toolbar-field-focus-color: #{get-var("text-primary")} !important;

  // text on accent
  --button-primary-color: #{get-var("text-on-accent")} !important;

  --autocomplete-popup-separator-color: #{get-var("border-color")} !important;

  --button-active-bgcolor: #{get-var("control-bgcolor")} !important;
  --button-bgcolor: #{get-var("control-bgcolor")} !important;
  --button-hover-bgcolor: #{get-var("control-bgcolor")} !important;

  --chrome-content-separator-color: #{get-var("tab-outline-color")} !important;

  // --panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189);
  // --panel-description-color: rgba(251, 251, 254, 0.7);
  // --panel-disabled-color: rgba(251, 251, 254, 0.5);
  // --panel-item-active-bgcolor: color-mix(
  //   in srgb,
  //   currentColor 25%,
  //   transparent
  // );
  // --panel-item-hover-bgcolor: color-mix(
  //   in srgb,
  //   currentColor 9%,
  //   transparent
  // );
  --panel-separator-zap-gradient: transparent !important;
  --tab-icon-overlay-fill: #{get-var("icon-color-secondary")} !important;
  --toolbar-field-border-color: transparent !important;
  --toolbarbutton-icon-fill: #{get-var("icon-color-primary")} !important;

  // opacity for url bar icons
  --urlbar-icon-fill-opacity: 1 !important;
}
