// show star button on new tab
#star-button-box {
  display: flex !important;
  align-items: center !important;
}

@include moz-pref-media("not userChrome.theme-default") {
  #star-button-box {
    --toolbarbutton-icon-fill-attention: #{get-var("accent-color")} !important;
  }
}

// disable animation for star button
#star-button-animatable-box {
  display: none !important;
}