// show star button on new tab
#star-button-box {
  display: flex !important;
  align-items: center !important;
  --toolbarbutton-icon-fill-attention: var(--mf-accent-color) !important;
}

// disable animation for star button
#star-button-animatable-box {
  display: none !important;
}
