// URL Bar Size
#urlbar {
  --urlbar-height: 28px !important;
  --urlbar-toolbar-height: 36px !important;
}

#urlbar-container {
  --urlbar-container-height: 36px !important;
}

html,
body {
  --urlbar-min-height: 28px !important; // Minimum Height
  --toolbarbutton-height: 28px !important; // Button Height
  --toolbarbutton-inner-padding: 6px !important; // Button Inner Padding
  --urlbar-icon-border-radius: 100px !important; // Icon Border Radius
  --toolbarbutton-border-radius: 100px !important; // Button Border Radius
  --urlbar-container-padding: 2px !important; // Container Padding
}

// Fix Icons sizes after URL Bar Size Change
.identity-box-button,
#notification-popup-box,
#tracking-protection-icon-container,
.urlbar-page-action,
#urlbar-go-button,
.search-go-button {
  width: auto !important;
  height: calc(
    var(--urlbar-height) - var(--urlbar-container-padding) * 2
  ) !important;
  border-radius: var(--urlbar-icon-border-radius) !important;
  padding: 0 8px !important;
  -moz-box-pack: center !important;
}

#notification-popup-box {
  padding: 0 !important;
}

.notification-anchor-icon {
  padding: 0 8px !important;
}

#urlbar {
  &[open] {
    #urlbar-background,
    #searchbar {
      border-radius: 4px !important;
      border: none !important;
    }
  }
}

// Fix URL Input Font Size
#urlbar-input,
#urlbar,
#searchbar {
  font: unset !important;
  font-size: 14px !important;
}

@media (prefers-color-scheme: light) {
  #urlbar-background,
  #searchbar {
    background-color: get-var("bgcolor-50") !important;
  }

  #urlbar {
    &:is([open],[focused]) {
      #urlbar-background,
      #searchbar {
        background-color: get-var("bgcolor-100") !important;
      }
    }
  }
}
