// Prefix for CSS variables
$prefix: mf;
$base-font-size: 16px;

// convert px to em
@function px-to-em($px) {
  @return $px / $base-font-size * 1em;
}

// convert px to rem
@function px-to-rem($px) {
  @return $px / $base-font-size * 1rem;
}

// return color mix function with opacity support
@function cm($main-color, $secondary-color, $opacity: 1) {
  $opacity: $opacity * 100%;
  @return color-mix(in srgb, $secondary-color $opacity, $main-color);
}

// return get-varue from CSS variable
@function get-var($variable-name) {
  @return #{var(--#{$prefix}-#{$variable-name})};
}

// change font
$font-family: ("Roboto", Arial, sans-serif);

$variables: (
  // --------------------------------------------------------------------------------
  // -- Color palette
  // --------------------------------------------------------------------------------
  "white": #fff,
  "black": #000,
  "grey-900-white-4-percent": #292a2d,
  "grey-900-white-5-percent": #35363a,
  "grey-900": #202124,
  "grey-800": #3c4043,
  "grey-700": #5f6368,
  "grey-600": #80868b,
  "grey-500": #9aa0a6,
  "grey-400": #bdc1c6,
  "grey-300": #dadce0,
  "grey-200": #e8eaed,
  "grey-100": #f1f3f4,
  "grey-50": #f8f9fa,
  "blue-900": #174ea6,
  "blue-800": #185abc,
  "blue-700": #1967d2,
  "blue-600": #1a73e8,
  "blue-500": #4285f4,
  "blue-400": #669df6,
  "blue-300": #8ab4f8,
  "blue-200": #aecbfa,
  "blue-100": #d2e3fc,
  "blue-50": #e8f0fe,

  // --------------------------------------------------------------------------------
  // -- Animation
  // --------------------------------------------------------------------------------
  // Fast Invoke
  // Direct and subtle
  // Usage: Transitions that are functional and utilitarian should use this curve.
  // Position, Scale, Rotation
  // Timing: 187, 333, 500
  "fast-invoke": cubic-bezier(0, 0, 0, 1),
  // Strong Invoke
  // Bold and emphasizing
  // Usage: Transitions that call attention or reinforce an action should use this curve.
  // Position, Scale
  // Timing: 667
  "strong-invoke": cubic-bezier(0.13, 1.62, 0, 0.92),
  // Fast Dismiss
  // Direct and subtle
  // Usage: Transitions that dismiss a surface without going off screen or within the same area should use this curve combined with a fade out.
  // Position, Scale
  // Timing: 187, 333, 500
  "fast-dismiss": cubic-bezier(0, 0, 0, 1),
  // Soft Dismiss
  // Gentle and mellow
  // Usage: Transitions that dismiss a surface off screen while confirming a user action should use this curve.
  // Scale
  // Timing: 167
  "soft-dismiss": cubic-bezier(1, 0, 1, 1),
  // Point to Point
  // Direct and guiding
  // Usage: Transitions that keep the same element on screen going from one place to another should use this curve.
  // Position, Scale, Rotation
  // Timing: 187, 333, 500
  "point-to-point": cubic-bezier(0.55, 0.55, 0, 1),
  // Fade in Out
  // Quick and efficient
  // Usage: Transitions that keep the same element on screen going from one place to another should use this curve.
  // Opacity
  // Timing: 83
  "fade-in-out": linear,

  // --------------------------------------------------------------------------------
  // -- Shadow
  // --------------------------------------------------------------------------------
  "shadow-color-rgb": "0,0,0",
  "elevation-2": (
    rgba(get-var(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(get-var(shadow-color-rgb), 0.15) 0 2px 6px 2px
  )
);

$dark-mode: (
  // accent color
  "accent-color": get-var(blue-300),
  "accent-color-hover": cm(transparent, get-var(accent-color), 0.8),
  // UI background colors
  "bgcolor-0": get-var(grey-900),
  "bgcolor-50": get-var(grey-900-white-4-percent),
  "bgcolor-100": get-var(grey-900-white-5-percent),
  // Optional feature: Github theme colors
  // "bgcolor-0": #0d1117,
  // "bgcolor-50": #161b22,
  // "bgcolor-100": #21262d,
  // UI text
  "text-primary": get-var(grey-200),
  "text-secondary": get-var(grey-500),
  "text-disabled": cm(transparent, get-var(text-primary), 0.03628),
  // Link text color
  "text-accent-primary": cm(white, get-var(text-primary), 0.8),
  "text-accent-secondary": cm(white, get-var(text-primary), 0.8),
  // Primary button text color
  "text-on-accent-primary": black,
  // Button, Dropdown, Search inputs
  "control-bgcolor": cm(transparent, white, 0.0605),
  "control-border-color": cm(transparent, white, 0.0605),
  "control-bgcolor-secondary": cm(get-var(bgcolor-0), white, 0.0837),
  "control-bgcolor-disabled": cm(get-var(bgcolor-0), white, 0.0419),
  // Tab bar
  "tab-separator-color": cm(transparent, white, 0.2),
  "tab-outline-color": cm(transparent, black, 0.1),
  "tab-opacity-hover": 0.5,
  // navbar
  "icon-color": get-var(grey-500)
);

$light-mode: (
  // Accent colors
  "accent-color": get-var(blue-500),
  "accent-color-hover": cm(transparent, get-var(accent-color), 0.8),
  // UI background colors
  "bgcolor-0": #dee1e6,
  "bgcolor-50": #f1f3f4,
  "bgcolor-100": #fff,

  // UI text
  "text-primary": get-var(grey-900),
  "text-secondary": get-var(grey-700),
  "text-disabled": #bec0c4,

  // Link text color
  "text-accent-primary": #1967d2,
  "text-accent-secondary": #1a73e8,

  // Primary button text color
  "text-on-accent-primary": white,

  // Button, Dropdown, Search inputs
  "control-bgcolor": get-var(bgcolor-50),
  "control-border-color": transparent,
  "control-bgcolor-secondary": get-var(bgcolor-100),
  "control-bgcolor-disabled": get-var(bgcolor-50),
  // Tab bar
  "tab-separator-color": cm(transparent, black, 0.2),
  "tab-outline-color": cm(transparent, black, 0.2),
  "tab-opacity-hover": 0.5,

  // Navbar
  "icon-color": get-var(grey-700)
);
