@use "sass:math";

// convert px to rem
@function rem($px) {
  @return math.div($px, 16px) * 1rem;
}

// return color mix function with opacity support
@function cm($main-color, $secondary-color, $opacity: 1) {
  $opacity: $opacity * 100%;
  @return color-mix(in srgb, $secondary-color $opacity, $main-color);
}

// return val from css variable
@function val($variable-name) {
  @return #{var(--#{$prefix}-#{$variable-name})};
}

// prefix for css variables
$prefix: mf;

$dark-mode: (
  // color palette
  "grey-50": rgb(248, 249, 250),
  "grey-100": rgb(241, 243, 244),
  "grey-200": rgb(232, 234, 237),
  "grey-300": rgb(218, 220, 224),
  "grey-400": rgb(189, 193, 198),
  "grey-500": rgb(154, 160, 166),
  "grey-600": rgb(128, 134, 139),
  "grey-700": rgb(95, 99, 104),
  "grey-800": rgb(60, 64, 67),
  "grey-900": rgb(32, 33, 36),
  "grey-900-white-4-percent": #292a2d,
  "grey-900-white-5-percent": #35363a,
  // accent color
  "accent-color": #8ab4f8,
  "accent-color-hover": cm(transparent, val(accent-color), 0.968),
  // UI background colors
  "bgcolor-0": val(grey-900),
  "bgcolor-50": val(grey-900-white-4-percent),
  "bgcolor-100": val(grey-900-white-5-percent),
  // UI text
  "text-primary": val(grey-200),
  "text-secondary": val(grey-500),
  "text-disabled": cm(transparent, val(text-primary), 0.03628),
  // Link text color
  "text-accent-primary": cm(white, val(text-primary), 0.8),
  "text-accent-secondary": cm(white, val(text-primary), 0.8),
  // Primary button text color
  "text-on-accent-primary": black,
  // Button, Dropdown, Search inputs
  "control-bgcolor": cm(transparent, white, 0.0605),
  "control-border-color": cm(transparent, white, 0.0605),
  "control-bgcolor-secondary": cm(val(bgcolor-0), white, 0.0837),
  "control-bgcolor-disabled": cm(val(bgcolor-0), white, 0.0419),
  // Tab bar
  "tab-separator-color": cm(transparent, white, 0.0837),
  "tab-outline-color": cm(transparent, black, 0.1),
  "tab-opacity-hover": 0.5,
  // navbar
  "icon-color": #9aa0a6
);

$light-mode: (
  "accent-color": AccentColor,
  // UI background colors
  "bgcolor-0": cm(#202020, val(accent-color), 0),
  "bgcolor-50": cm(val(bgcolor-0), white, 0.0512),
  "bgcolor-100": cm(val(bgcolor-0), white, 0.0605),
  // UI text
  "text-primary": black,
  "text-secondary": cm(transparent, val(text-primary), 0.0786),
  "text-disabled": cm(transparent, val(text-primary), 0.03628),
  // Link text color
  "text-accent-primary": cm(white, val(text-primary), 0.8),
  "text-accent-secondary": cm(white, val(text-primary), 0.8),
  // Primary button text color
  "text-on-accent-primary": black,
  // Button, Dropdown, Search inputs
  "control-bgcolor": cm(transparent, black, 0.0373),
  "control-border-color": cm(transparent, black, 0.0373),
  "control-bgcolor-secondary": cm(val(bgcolor-0), white, 0.0837),
  "control-bgcolor-disabled": cm(val(bgcolor-0), white, 0.0419),
  // Tab bar
  "tab-separator-color": cm(transparent, black, 0.0803),
  "tab-outline-color": cm(transparent, black, 0.0578),
  "tab-opacity-hover": 0.1,
  // navbar
  "icon-color": rbg(95, 99, 104),
);

$animation: (
  // Fast Invoke
  // Direct and subtle
  // Usage: Transitions that are functional and utilitarian should use this curve.
  // Position, Scale, Rotation
  // Timing: 187, 333, 500
  "fast-invoke": cubic-bezier(0, 0, 0, 1),
  // Strong Invoke
  // Bold and emphasizing
  // Usage: Transitions that call attention or reinforce an action should use this curve.
  // Position, Scale
  // Timing: 667
  "strong-invoke": cubic-bezier(0.13, 1.62, 0, 0.92),
  // Fast Dismiss
  // Direct and subtle
  // Usage: Transitions that dismiss a surface without going off screen or within the same area should use this curve combined with a fade out.
  // Position, Scale
  // Timing: 187, 333, 500
  "fast-dismiss": cubic-bezier(0, 0, 0, 1),
  // Soft Dismiss
  // Gentle and mellow
  // Usage: Transitions that dismiss a surface off screen while confirming a user action should use this curve.
  // Scale
  // Timing: 167
  "soft-dismiss": cubic-bezier(1, 0, 1, 1),
  // Point to Point
  // Direct and guiding
  // Usage: Transitions that keep the same element on screen going from one place to another should use this curve.
  // Position, Scale, Rotation
  // Timing: 187, 333, 500
  "point-to-point": cubic-bezier(0.55, 0.55, 0, 1),
  // Fade in Out
  // Quick and efficient
  // Usage: Transitions that keep the same element on screen going from one place to another should use this curve.
  // Opacity
  // Timing: 83
  "fade-in-out": linear
);

$shadow: (
  "shadow-color-rgb": "0,0,0",
  "elevation-1": (
    rgba(val(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(val(shadow-color-rgb), 0.15) 0 1px 3px 1px,
  ),
  "elevation-2": (
    rgba(val(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(val(shadow-color-rgb), 0.15) 0 2px 6px 2px,
  ),
  "elevation-3": (
    rgba(val(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(val(shadow-color-rgb), 0.15) 0 4px 8px 3px,
  ),
  "elevation-4": (
    rgba(val(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(val(shadow-color-rgb), 0.15) 0 6px 10px 4px,
  ),
  "elevation-5": (
    rgba(val(shadow-color-rgb), 0.3) 0 1px 2px 0,
    rgba(val(shadow-color-rgb), 0.15) 0 8px 12px 6px,
  ),
);
