@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
}
