@media (-moz-bool-pref: "userChrome.system-accent-colors") {
  /* use variables when dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --mf-accent-color: color-mix(in srgb, var(--mf-white) 15%, AccentColor);
      --mf-tab-opacity: 0.9;
      --mf-background-color-0: color-mix(
        in srgb,
        var(--mf-grey-900) 85%,
        var(--mf-accent-color)
      );
      --mf-background-color-50: color-mix(
        in srgb,
        var(--mf-grey-900-white-4-percent) 85%,
        var(--mf-accent-color)
      );
      --mf-background-color-100: color-mix(
        in srgb,
        var(--mf-grey-900-white-5-percent) 85%,
        var(--mf-accent-color)
      );
      --mf-menu-background-color-hover: color-mix(
        in srgb,
        var(--mf-grey-800) 85%,
        var(--mf-accent-color)
      );
      --mf-menu-border-color: color-mix(
        in srgb,
        var(--mf-grey-800) 85%,
        var(--mf-accent-color)
      );
      --mf-text-on-accent: var(--mf-white);
      --mf-secondary-button-text: var(--mf-white);
      --mf-content-separator-color: color-mix(
        in srgb,
        #606164 90%,
        var(--mf-accent-color)
      );
      --mf-selection-background-color: color-mix(
        in srgb,
        var(--mf-grey-900) 15%,
        var(--mf-accent-color)
      );
    }
  }

  /* use variables when light mode */
  @media (prefers-color-scheme: light) {
    :root {
      --mf-accent-color: color-mix(
        in srgb,
        var(--mf-grey-900) 15%,
        var(--mf-AccentColor)
      );
      --mf-tab-opacity: 0.9;
      --mf-background-color-0: color-mix(
        in srgb,
        #dee1e6 90%,
        var(--mf-accent-color)
      );
      --mf-background-color-50: color-mix(
        in srgb,
        var(--mf-grey-100) 90%,
        var(--mf-accent-color)
      );
      --mf-background-color-100: color-mix(
        in srgb,
        var(--mf-white) 90%,
        var(--mf-accent-color)
      );
      --mf-menu-background-color-hover: color-mix(
        in srgb,
        var(--mf-background-color-0) 90%,
        var(--mf-accent-color)
      );
      --mf-menu-border-color: color-mix(
        in srgb,
        var(--mf-background-color-0) 90%,
        var(--mf-accent-color)
      );
      --mf-secondary-button-text: var(--mf-accent-color);
      --mf-content-separator-color: color-mix(
        in srgb,
        #dbdcdd 90%,
        var(--mf-accent-color)
      );
      --mf-selection-background-color: color-mix(
        in srgb,
        #dee1e6 10%,
        var(--mf-accent-color)
      );
    }
  }
}
