/* use variables when about:config variable userChrome.theme-material-green is true */
@media (-moz-bool-pref: "userChrome.theme-material-green") {
  /* light mode variables */
  :root {
    --md-sys-color-primary: rgb(76 102 43);
    --md-sys-color-surface-tint: rgb(76 102 43);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(205 237 163);
    --md-sys-color-on-primary-container: rgb(16 32 0);
    --md-sys-color-secondary: rgb(88 98 73);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(220 231 200);
    --md-sys-color-on-secondary-container: rgb(21 30 11);
    --md-sys-color-tertiary: rgb(56 102 99);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(188 236 231);
    --md-sys-color-on-tertiary-container: rgb(0 32 30);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(249 250 239);
    --md-sys-color-on-background: rgb(26 28 22);
    --md-sys-color-surface: rgb(249 250 239);
    --md-sys-color-on-surface: rgb(26 28 22);
    --md-sys-color-surface-variant: rgb(225 228 213);
    --md-sys-color-on-surface-variant: rgb(68 72 61);
    --md-sys-color-outline: rgb(117 121 108);
    --md-sys-color-outline-variant: rgb(197 200 186);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(47 49 42);
    --md-sys-color-inverse-on-surface: rgb(241 242 230);
    --md-sys-color-inverse-primary: rgb(177 209 138);
    --md-sys-color-primary-fixed: rgb(205 237 163);
    --md-sys-color-on-primary-fixed: rgb(16 32 0);
    --md-sys-color-primary-fixed-dim: rgb(177 209 138);
    --md-sys-color-on-primary-fixed-variant: rgb(53 78 22);
    --md-sys-color-secondary-fixed: rgb(220 231 200);
    --md-sys-color-on-secondary-fixed: rgb(21 30 11);
    --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
    --md-sys-color-on-secondary-fixed-variant: rgb(64 74 51);
    --md-sys-color-tertiary-fixed: rgb(188 236 231);
    --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
    --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
    --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 75);
    --md-sys-color-surface-dim: rgb(218 219 208);
    --md-sys-color-surface-bright: rgb(249 250 239);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(243 244 233);
    --md-sys-color-surface-container: rgb(238 239 227);
    --md-sys-color-surface-container-high: rgb(232 233 222);
    --md-sys-color-surface-container-highest: rgb(226 227 216);
  }

  /* dark mode variables */
  @media (prefers-color-scheme: dark) {
    :root {
      --md-sys-color-primary: rgb(177 209 138);
      --md-sys-color-surface-tint: rgb(177 209 138);
      --md-sys-color-on-primary: rgb(31 55 1);
      --md-sys-color-primary-container: rgb(53 78 22);
      --md-sys-color-on-primary-container: rgb(205 237 163);
      --md-sys-color-secondary: rgb(191 203 173);
      --md-sys-color-on-secondary: rgb(42 51 30);
      --md-sys-color-secondary-container: rgb(64 74 51);
      --md-sys-color-on-secondary-container: rgb(220 231 200);
      --md-sys-color-tertiary: rgb(160 208 203);
      --md-sys-color-on-tertiary: rgb(0 55 53);
      --md-sys-color-tertiary-container: rgb(31 78 75);
      --md-sys-color-on-tertiary-container: rgb(188 236 231);
      --md-sys-color-error: rgb(255 180 171);
      --md-sys-color-on-error: rgb(105 0 5);
      --md-sys-color-error-container: rgb(147 0 10);
      --md-sys-color-on-error-container: rgb(255 218 214);
      --md-sys-color-background: rgb(18 20 14);
      --md-sys-color-on-background: rgb(226 227 216);
      --md-sys-color-surface: rgb(18 20 14);
      --md-sys-color-on-surface: rgb(226 227 216);
      --md-sys-color-surface-variant: rgb(68 72 61);
      --md-sys-color-on-surface-variant: rgb(197 200 186);
      --md-sys-color-outline: rgb(143 146 133);
      --md-sys-color-outline-variant: rgb(68 72 61);
      --md-sys-color-shadow: rgb(0 0 0);
      --md-sys-color-scrim: rgb(0 0 0);
      --md-sys-color-inverse-surface: rgb(226 227 216);
      --md-sys-color-inverse-on-surface: rgb(47 49 42);
      --md-sys-color-inverse-primary: rgb(76 102 43);
      --md-sys-color-primary-fixed: rgb(205 237 163);
      --md-sys-color-on-primary-fixed: rgb(16 32 0);
      --md-sys-color-primary-fixed-dim: rgb(177 209 138);
      --md-sys-color-on-primary-fixed-variant: rgb(53 78 22);
      --md-sys-color-secondary-fixed: rgb(220 231 200);
      --md-sys-color-on-secondary-fixed: rgb(21 30 11);
      --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
      --md-sys-color-on-secondary-fixed-variant: rgb(64 74 51);
      --md-sys-color-tertiary-fixed: rgb(188 236 231);
      --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
      --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
      --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 75);
      --md-sys-color-surface-dim: rgb(18 20 14);
      --md-sys-color-surface-bright: rgb(56 58 50);
      --md-sys-color-surface-container-lowest: rgb(12 15 9);
      --md-sys-color-surface-container-low: rgb(26 28 22);
      --md-sys-color-surface-container: rgb(30 32 26);
      --md-sys-color-surface-container-high: rgb(40 43 36);
      --md-sys-color-surface-container-highest: rgb(51 54 46);
    }
  }
}
