/* use variables when about:config variable userChrome.theme-material-red is true */
@media (-moz-bool-pref: "userChrome.theme-material-red") {
  /* light mode variables */
  :root {
    --md-sys-color-primary: rgb(143 76 56);
    --md-sys-color-surface-tint: rgb(143 76 56);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(255 219 209);
    --md-sys-color-on-primary-container: rgb(58 11 1);
    --md-sys-color-secondary: rgb(119 87 78);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(255 219 209);
    --md-sys-color-on-secondary-container: rgb(44 21 15);
    --md-sys-color-tertiary: rgb(108 93 47);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(245 225 167);
    --md-sys-color-on-tertiary-container: rgb(35 27 0);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(255 248 246);
    --md-sys-color-on-background: rgb(35 25 23);
    --md-sys-color-surface: rgb(255 248 246);
    --md-sys-color-on-surface: rgb(35 25 23);
    --md-sys-color-surface-variant: rgb(245 222 216);
    --md-sys-color-on-surface-variant: rgb(83 67 63);
    --md-sys-color-outline: rgb(133 115 110);
    --md-sys-color-outline-variant: rgb(216 194 188);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(57 46 43);
    --md-sys-color-inverse-on-surface: rgb(255 237 232);
    --md-sys-color-inverse-primary: rgb(255 181 160);
    --md-sys-color-primary-fixed: rgb(255 219 209);
    --md-sys-color-on-primary-fixed: rgb(58 11 1);
    --md-sys-color-primary-fixed-dim: rgb(255 181 160);
    --md-sys-color-on-primary-fixed-variant: rgb(114 53 35);
    --md-sys-color-secondary-fixed: rgb(255 219 209);
    --md-sys-color-on-secondary-fixed: rgb(44 21 15);
    --md-sys-color-secondary-fixed-dim: rgb(231 189 178);
    --md-sys-color-on-secondary-fixed-variant: rgb(93 64 55);
    --md-sys-color-tertiary-fixed: rgb(245 225 167);
    --md-sys-color-on-tertiary-fixed: rgb(35 27 0);
    --md-sys-color-tertiary-fixed-dim: rgb(216 197 141);
    --md-sys-color-on-tertiary-fixed-variant: rgb(83 70 25);
    --md-sys-color-surface-dim: rgb(232 214 210);
    --md-sys-color-surface-bright: rgb(255 248 246);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(255 241 237);
    --md-sys-color-surface-container: rgb(252 234 229);
    --md-sys-color-surface-container-high: rgb(247 228 224);
    --md-sys-color-surface-container-highest: rgb(241 223 218);
  }

  /* dark mode variables */
  @media (prefers-color-scheme: dark) {
    :root {
      --md-sys-color-primary: rgb(255 181 160);
      --md-sys-color-surface-tint: rgb(255 181 160);
      --md-sys-color-on-primary: rgb(86 31 15);
      --md-sys-color-primary-container: rgb(114 53 35);
      --md-sys-color-on-primary-container: rgb(255 219 209);
      --md-sys-color-secondary: rgb(231 189 178);
      --md-sys-color-on-secondary: rgb(68 42 34);
      --md-sys-color-secondary-container: rgb(93 64 55);
      --md-sys-color-on-secondary-container: rgb(255 219 209);
      --md-sys-color-tertiary: rgb(216 197 141);
      --md-sys-color-on-tertiary: rgb(59 47 5);
      --md-sys-color-tertiary-container: rgb(83 70 25);
      --md-sys-color-on-tertiary-container: rgb(245 225 167);
      --md-sys-color-error: rgb(255 180 171);
      --md-sys-color-on-error: rgb(105 0 5);
      --md-sys-color-error-container: rgb(147 0 10);
      --md-sys-color-on-error-container: rgb(255 218 214);
      --md-sys-color-background: rgb(26 17 15);
      --md-sys-color-on-background: rgb(241 223 218);
      --md-sys-color-surface: rgb(26 17 15);
      --md-sys-color-on-surface: rgb(241 223 218);
      --md-sys-color-surface-variant: rgb(83 67 63);
      --md-sys-color-on-surface-variant: rgb(216 194 188);
      --md-sys-color-outline: rgb(160 140 135);
      --md-sys-color-outline-variant: rgb(83 67 63);
      --md-sys-color-shadow: rgb(0 0 0);
      --md-sys-color-scrim: rgb(0 0 0);
      --md-sys-color-inverse-surface: rgb(241 223 218);
      --md-sys-color-inverse-on-surface: rgb(57 46 43);
      --md-sys-color-inverse-primary: rgb(143 76 56);
      --md-sys-color-primary-fixed: rgb(255 219 209);
      --md-sys-color-on-primary-fixed: rgb(58 11 1);
      --md-sys-color-primary-fixed-dim: rgb(255 181 160);
      --md-sys-color-on-primary-fixed-variant: rgb(114 53 35);
      --md-sys-color-secondary-fixed: rgb(255 219 209);
      --md-sys-color-on-secondary-fixed: rgb(44 21 15);
      --md-sys-color-secondary-fixed-dim: rgb(231 189 178);
      --md-sys-color-on-secondary-fixed-variant: rgb(93 64 55);
      --md-sys-color-tertiary-fixed: rgb(245 225 167);
      --md-sys-color-on-tertiary-fixed: rgb(35 27 0);
      --md-sys-color-tertiary-fixed-dim: rgb(216 197 141);
      --md-sys-color-on-tertiary-fixed-variant: rgb(83 70 25);
      --md-sys-color-surface-dim: rgb(26 17 15);
      --md-sys-color-surface-bright: rgb(66 55 52);
      --md-sys-color-surface-container-lowest: rgb(20 12 10);
      --md-sys-color-surface-container-low: rgb(35 25 23);
      --md-sys-color-surface-container: rgb(39 29 27);
      --md-sys-color-surface-container-high: rgb(50 40 37);
      --md-sys-color-surface-container-highest: rgb(61 50 47);
    }
  }
}
