// selected tab outline
#nav-bar {
  margin-top: -1px !important;
  border-top: 1px solid !important;
  border-color: var(--mf-tab-outline-color) !important;
}

.tabbrowser-tab[visuallyselected] {
  .tab-background,
  .tab-background::before,
  .tab-background::after {
    outline: 1px solid !important;
    outline-color: var(--mf-tab-outline-color) !important;
    outline-offset: 0 !important;
  }
}

.tab-stack {
  margin-top: 1px !important;
}
