// hide old user container identity line
.tab-context-line {
  display: none !important;
}

// user container identity line like dot
.tab-stack {
  position: relative !important;
  &::before {
    content: "" !important;
    position: absolute !important;
    top: 4px !important;
    right: 4px !important;
    width: 4px !important;
    height: 4px !important;
    background-color: var(--identity-icon-color) !important;
    border-radius: 100% !important;
    border-width: 0px !important;
    border-color: transparent !important;
    z-index: 999 !important;
    opacity: 1 !important;
  }
}

// user container identity line default
// .tab-stack {
//   position: relative !important;
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     width: 100%;
//     height: 1px;
//     background-color: var(--identity-icon-color);
//     z-index: 999;
//   }
// }
