// window-inactive title bar bg color
:root:-moz-window-inactive #navigator-toolbox {
  #toolbar-menubar,
  #TabsToolbar,
  #titlebar {
    background-color: get-var("background-color-50") !important;
  }
}

// hide tab spacers
.titlebar-spacer:is([type="pre-tabs"], [type="post-tabs"]) {
  display: none !important;
}

// hide unwanted left tab bar separator
#tabbrowser-tabs {
  border-inline-start: none !important;
  margin-inline-start: 0px !important;
}

// fix for firefox view button (black border under tab bar)
#firefox-view-button {
  margin: 0 !important;
}
