// accent color mix for title bar and url bar backgrounds
@media (prefers-color-scheme: light) {
  #toolbar-menubar,
  #TabsToolbar,
  #titlebar {
    background-color: cm(
      get-var("background-color-50"),
      get-var("accent-color"),
      0.2
    ) !important;
  }

  #urlbar-background,
  #searchbar {
    background-color: cm(
      get-var("background-color-50"),
      get-var("accent-color"),
      0.0333
    ) !important;
  }
}

// window-inactive title bar bg color
:root:-moz-window-inactive #navigator-toolbox {
  #toolbar-menubar,
  #TabsToolbar,
  #titlebar {
    background-color: get-var("background-color-50") !important;
  }
}

// hide tab spacers
.titlebar-spacer:is([type="pre-tabs"], [type="post-tabs"]) {
  display: none !important;
}

// hide unwanted left tab bar separator
#tabbrowser-tabs {
  border-inline-start: none !important;
  margin-inline-start: 0px !important;
}

// fix for firefox view button (black border under tab bar), see: https://github.com/edelvarden/material-fox-updated/issues/6
#firefox-view-button {
  margin: 0 !important;
}

// also for other buttons which can be added to the title bar
#TabsToolbar .toolbarbutton-1 {
  margin-bottom: 0 !important;
}
