// accent color mix for title bar and url bar backgrounds
@media not (-moz-bool-pref: meta.inspect("userChrome.theme-default")) {
  #urlbar-background,
  #searchbar {
    background-color: get-var("background-color-50") !important;
  }

  @media (prefers-color-scheme: light) and ((-moz-bool-pref: meta.inspect("userChrome.theme-chrome-refresh")) or (-moz-bool-pref: meta.inspect("userChrome.theme-material"))) {
    #navigator-toolbox,
    #toolbar-menubar,
    #TabsToolbar,
    #titlebar {
      background-color: cm(
        get-var("background-color-50"),
        get-var("accent-color"),
        0.2
      ) !important;
    }

    #urlbar-background,
    #searchbar {
      background-color: cm(
        get-var("background-color-50"),
        get-var("accent-color"),
        0.0333
      ) !important;
    }
  }
}

// restore tab opacity when window-inactive
:root[tabsintitlebar] #titlebar {
  &:-moz-window-inactive {
    // opacity: var(--inactive-titlebar-opacity);
    opacity: 1 !important;
  }
}

// title bar buttons opacity when window-inactive
@media (-moz-platform: windows) {
  :root:-moz-window-inactive #navigator-toolbox {
    .titlebar-buttonbox .titlebar-button {
      opacity: 0.5 !important;
    }

    .titlebar-buttonbox .titlebar-button:hover {
      opacity: 1 !important;
    }
  }
}

// window-inactive title bar bg color
@media not (-moz-bool-pref: meta.inspect("userChrome.theme-default")) {
  :root:-moz-window-inactive #navigator-toolbox {
    background-color: get-var("background-color-50") !important;
    background-image: none !important;

    #toolbar-menubar,
    #TabsToolbar,
    #titlebar {
      background-color: get-var("background-color-50") !important;
      background-image: none !important;
    }
  }

  @media not ((-moz-bool-pref: meta.inspect("userChrome.theme-chrome-refresh")) or (-moz-bool-pref: meta.inspect("userChrome.theme-material"))) {
    // window-inactive title bar bg color
    :root:not(:-moz-window-inactive) #navigator-toolbox {
      background-color: get-var("background-color-0") !important;

      #toolbar-menubar,
      #TabsToolbar,
      #titlebar {
        background-color: get-var("background-color-0") !important;
      }
    }
  }

  @media (prefers-color-scheme: dark) and (-moz-bool-pref: meta.inspect("userChrome.theme-material")) {
    // window-inactive title bar bg color
    :root:not(:-moz-window-inactive) #navigator-toolbox {
      background-color: get-var(sys-color-surface-container-lowest) !important;
      background-image: linear-gradient(
        90deg,
        cm(transparent, get-var(sys-color-tertiary), 0.2) 0%,
        cm(transparent, get-var(sys-color-secondary), 0.2) 80%
      ) !important;

      #toolbar-menubar,
      #TabsToolbar,
      #titlebar {
        background-color: get-var(
          sys-color-surface-container-lowest
        ) !important;
        background-image: linear-gradient(
          90deg,
          cm(transparent, get-var(sys-color-tertiary), 0.2) 0%,
          cm(transparent, get-var(sys-color-secondary), 0.2) 80%
        ) !important;
      }
    }
  }
}

// hide tab spacers
.titlebar-spacer:is([type="pre-tabs"], [type="post-tabs"]) {
  display: none !important;
}

// hide unwanted left tab bar separator
#tabbrowser-tabs {
  border-inline-start: none !important;
  margin-inline-start: 0px !important;
}

// fix for firefox view button (black border under tab bar), see: https://github.com/edelvarden/material-fox-updated/issues/6
#firefox-view-button {
  margin: 0 !important;
}

// also for other buttons which can be added to the title bar
#TabsToolbar .toolbarbutton-1 {
  margin-bottom: 0 !important;
}
