// extension badge color
.toolbarbutton-badge {
  border-radius: 4px !important;
  min-width: 14px !important;
  padding: 1px !important;
  font-weight: 400 !important;
  box-shadow: none !important;
}
