// extension badge color
.toolbarbutton-badge {
  border-radius: 4px !important;
  min-width: 14px !important;
  padding: 1px !important;
  font-weight: 400 !important;
  box-shadow: none !important;
}

// extension icons size inside popup list
.unified-extensions-item-icon, .unified-extensions-item .webextension-browser-action.subviewbutton > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  $icon-size: 24px;
  height: $icon-size !important;
  width: $icon-size !important;
}
