:is(html, body) {
  @each $key, $value in $animation {
    --#{$prefix}-#{$key}: #{$value};
  }

  @each $key, $value in $shadow {
    --#{$prefix}-#{$key}: #{$value};
  }
}

@media (prefers-color-scheme: dark) {
  :is(html, body) {
    @each $key, $value in $dark-mode {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}

:is(:root, html, body, panel, toolbar) {
  --lwt-brighttext-url-color: #{val(accent-color)} !important;
  --toolbarbutton-icon-fill-attention: #{val(accent-color)} !important;
}

:is(menupopup, panel) {
  --windows-panel-box-shadow: #{val(elevation-2)} !important;
  box-shadow: #{val(elevation-2)} !important;
}

@media (prefers-color-scheme: dark) {
  :is(html, body) {
    //----------------------------------------------------------------------
    // --   Firefox vars
    // ----------------------------------------------------------------------
    --arrowpanel-background: #{val(bgcolor-50)} !important;
    --arrowpanel-border-color: #{val(border-color)} !important;
    --arrowpanel-color: #{val(text-primary)} !important;
    --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 14%, transparent);

    --autocomplete-popup-highlight-background: #{val(bgcolor-50)} !important;
    --autocomplete-popup-separator-color: #{val(border-color)} !important;

    --button-active-bgcolor: #{val(control-bgcolor)} !important;
    --button-bgcolor: #{val(control-bgcolor)} !important;
    --button-hover-bgcolor: #{val(control-bgcolor)} !important;

    --button-primary-active-bgcolor: #{val(accent-color)} !important;
    --button-primary-bgcolor: #{val(accent-color)} !important;
    --button-primary-color: #{val(text-on-accent-primary)} !important; // text on accent
    --button-primary-hover-bgcolor: #{val(accent-color-hover)} !important;

    --chrome-content-separator-color: #{val(tab-outline-color)} !important;
    --error-text-color: rgb(255, 154, 162);

    --input-bgcolor: var(--mf-input-bgcolor) !important;
    --input-border-color: #{val(border-color)} !important;
    --input-color: #{val(text-primary)} !important;

    --lwt-accent-color: #{val(bgcolor-0)} !important;
    --lwt-selected-tab-background-color: #{val(bgcolor-50)} !important;
    --lwt-tab-text: #{val(text-primary)} !important;
    --lwt-text-color: #{val(text-primary)} !important;

    --panel-banner-item-info-icon-bgcolor: #{val(accent-color)} !important;
    --panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189);
    --panel-description-color: rgba(251, 251, 254, 0.7);
    --panel-disabled-color: rgba(251, 251, 254, 0.5);
    --panel-item-active-bgcolor: color-mix(in srgb, currentColor 25%, transparent);
    --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent);
    --panel-separator-zap-gradient: linear-gradient(90deg, #9059ff 0%, #ff4aa2 52.08%, #ffbd4f 100%);

    --tab-icon-overlay-fill: rgb(251, 251, 254) !important;
    --tab-icon-overlay-stroke: #{val(bgcolor-50)} !important;

    --tabpanel-background-color: #{val(bgcolor-50)} !important;

    --toolbar-bgcolor: var(--mf-bgcolor-100) !important;
    --toolbar-color: #{val(text-primary)} !important;
    --toolbar-field-background-color: var(--mf-bgcolor-0) !important;
    --toolbar-field-border-color: transparent !important;
    --toolbar-field-focus-border-color: #{val(accent-color)} !important;
    --toolbar-field-color: #{val(text-primary)} !important;
    --toolbar-field-focus-background-color: var(--mf-bgcolor-0) !important;
    --toolbar-field-focus-color: #{val(text-primary)} !important;
    --toolbarbutton-icon-fill: rgb(251, 251, 254);
  }
}

@media (prefers-color-scheme: light) {
  :is(html, body) {
    @each $key, $value in $light-mode {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}
